<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bankruptcy Analysis Tool</h1>
    <p>This tool helps businesses gain valuable insights into the key parameters that lead to bankruptcy. It
        also provides a machine learning model trained on real-world data to make bankruptcy predictions that can
        help drive business decisions.
    </p>
</body>
</html>